@import url('https://fonts.googleapis.com/css?family=Caveat');

.wrapper {
    display:none;
    align-items: stretch
}

.sidebar {
    min-width: 20%;
    max-width: 20%;
    min-height: 100vh;
}

.title {
    min-height: 9vh;
    font-family: 'Caveat';
    font-size: 56px;
    text-align: center;
}

.fill {
    min-height: 100vh;
}