@import url('https://fonts.googleapis.com/css?family=Caveat');

.wrapper {
    display:flex;
    align-items: stretch
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.title{
    min-height: 7vh;
    font-family: 'Caveat';
    font-size: 55px;
}

.fill {
    min-height: 100vh;
}